/* Universal Styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: "Oswald", sans-serif;
}

/* Body Styling */

body {
	background-image: url("../images/marble.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1rem;
}

span {
	font-size: 0.8rem;
}

/* Header Styling */

.header {
	display: flex;
	justify-content: space-between;
}

/* Link Stying */

a:link {
	color: whitesmoke;
	text-decoration: none;
}

a:visited {
	color: gray;
}

a:hover {
	color: black;
}

a:active {
	color: #018ff9;
}

.links {
	padding: 5px;
	font-size: 1.2em;
	text-decoration: none;
}

.logo-font {
	text-decoration: none;
}

/* Button Styling */

.css-button-neumorphic {
	min-width: 120px;
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: none;
	background: #efefef;
	box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
	color: #585858;
}
.css-button-neumorphic:hover {
	box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.socialite-button {
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: none;
	background: #efefef;
	box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
	color: #585858;
}
.socialite-button:hover {
	box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.button-text {
	font-size: 1.2rem;
	text-decoration: none;
}

.gallery-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* "Logo" Styling */

.logo-font {
	margin: 2rem;
	padding: 0.6rem;
}
.kulchur {
	font-family: "Kaushan Script";
	font-size: 2em;
}

/* NFT Img Styling */

img {
	width: 25%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;

	-webkit-box-reflect: below 2px
		linear-gradient(transparent, transparent, #0004);
	transform-origin: center;
	transform: perspective(800px) rotateY(25deg);
	transition: 0.5s;
}

/* Featured NFT Styling */

.featured-nft {
	width: 30vw;
	height: auto;
	-webkit-box-reflect: below 2px
		linear-gradient(transparent, transparent, #0004);
	transform-origin: center;
	transform: perspective(800px) rotateY(-25deg);
	transition: 0.5s;
}

.nft-container:hover img {
	opacity: 0.3;
}

.nft-container:hover img {
	transform: perspective(800px) rotateY(0deg);
	opacity: 1;
}

/* Artist Info Styling & Containers */

.artist-copy {
	width: 80%;
}

.nft-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.artist-info-container {
	/* width: 100vw; */
	display: flex;
	justify-content: center;
	margin: 2.5rem;
}
.artist-details-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.social-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social {
	height: 85%;
	width: auto;
}

.about-links {
	display: flex;
	justify-content: space-around;
}

.single-social-container {
	margin: 5vw;
}
/* Footer styling */

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 2rem;
}

.footer-copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.9rem;
}
